/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

:root {
    --bg-color: #F2F2F2;
    --text-color: #2f2f2f;
    
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    max-height:100dvh;
    margin:0;
    padding:0;
    overflow-y: hidden;
}


body {
    background-color: var(--bg-color);
    display: flex;
    height: 100dvh;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 56px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.menu {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--bg-color);
    padding: 0;
    box-sizing: border-box;
    /* max-width:600px; */
}

.menu a {
    margin: 0 24px;
    color: var(--text-color);
}

/* .home .menu {
    background-color: transparent;
} */

.burgerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    margin: 0 24px;
    display: none;
}

.burger img{
    width:32px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

a.active {
    font-weight: bold;
}

.logo {
    margin: 0 24px;
    /* color:var(--bg-color); */
}

main {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 35% 1fr;
    grid-column: 1/2;
    grid-row-start:2;
}

.home main {
    display: flex;
}



.contentContainer {
    padding: 48px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    max-height: 100dvh;
    overflow-y: auto;
    box-sizing: border-box;
}

/* .mediaItem hr{
    width:32px;
} */

.mediaItem {
    margin: 8px 0 24px;
}

.mediaItem p {
    margin: 8px 0;
}

.mediaItem h2 {
    margin: 4px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.mediaItem img {
    margin: 8px 0;
}

.mediaItem .videoContainer {
    display: none;
}

.mediaItem:hover .videoContainer {
    display: block;
}

.mediaItem:last-child {
    padding-bottom: 80px;
}

/* .info{
    font-size:14px;
} */

.videoContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

p {
    max-width: 700px;
    line-height: 160%;
    opacity: 80%;
}

h1 {
    margin: 64px 0;
    font-family: 'Poppins', sans-serif;
}

.contentContainer a {
    color: var(--text-color);
    font-weight: bolder;
    opacity: 87%;
}

.mediaPage .mediaItem p {
    display: none;
}


/* photos */

.photoContainer {
    background-color: rgb(45, 45, 45);
    height: 100dvh;
}

.photoContainer.full img {
    object-fit: cover;
    width: 100%;
    height: 100dvh;
}

.home .photoContainer {
    width: 100%;
}

.photoContainer.full {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.photoContainer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top:56px;
}

.photoContainer.full img {
    display: block;
}

.photoContainer:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 35%;
    top: 56px;
    left: 0;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

}

.photoContainer.full:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 56px;
    left: 0;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}

.photoContainer.full h1 {
    font-size: 100px;
    margin: 0 24px;
    position: absolute;
    z-index: 2;
}

.horizontalLeft {
    object-position: left bottom;
}

.horizontalLeftTop{
    object-position: -56px;
    padding-top:56px;

}

.horizontalLeftCropped {
    object-position: -56px;
}

.horizontalRightCropped {
    object-position: 85%;

}

.downloadLink {
    margin: 32px 0;
}

.socialContainer {
    display: flex;
}

.socialContainer a {
    margin: 8px;
    height: 32px;
}

.contactPage .contentContainer {
    /* padding-top:64px; */
}

.contactPage iframe {
    min-height: 300px;
}

.contactPage h2 {
    margin: 40px 0 8px;
}

.home h1{
    color:var(--bg-color);
}

/* mobile */
@media only screen and (max-width: 700px) {
    
    
    html{
        overflow-y: auto;
    }
    html.homepage{
        overflow-y: hidden;
    }

    body,
    main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        flex:1;
    }

    nav {
        position: static;
        min-height: 56px;
        z-index: 2;
        flex-direction: column;
    }

    .burgerMenu {
        width: 100%;
        min-height: 56px;
        background-color: var(--bg-color);

    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: auto;
        background-color: var(--bg-color);

    }

    /* .home .menu {
        background-color: var(--text-color);
    } */

    .menu a {
        margin: 16px 24px;
        color: var(--text-color);


    }

    .photoContainer {
        height: 400px;
        width: 100%;
    }

    .photoContainer img {
        padding-top:0;
    }

    .photoContainer:after {
        content: "";
        height: 400px;
        width: 100%;
        /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); */
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

    }

    .home .photoContainer {
        height: 100%;
    }

    .contentContainer {
        padding: 24px;
        overflow-y: visible;
        margin-bottom: 56px;
        width: 100%;
        box-sizing: border-box;
        max-height:none;
    }

    .photoContainer.full h1 {
        font-size: 64px;
        margin: 16px 24px;
    }

    .photoContainer.full img{
        height:100%;
    }

    .contentContainer iframe {
        overflow-y: visible;
    }

    .horizontalLeft,
    .horizontalLeftCropped,
    .horizontalRightCropped {
        object-position: 50% 50%;
    }

    .horizontalLeftTop{
        object-position: 50% 50%;
        padding-top:0;
    
    }


}



/* @font-face {
    font-family: 'ApfelGrotezk';
    src: url('fonts/ApfelGrotezk-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: 'ApfelGrotezk';
    src: url('fonts/ApfelGrotezk-Fett.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
  } */