@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: #0E0E0E;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    /* background-color:#292929; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 56px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}

.menu {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0E0E0E;
    padding: 0;
    box-sizing: border-box;
    /* max-width:600px; */
}

.menu a{
    margin:0 24px;
}

.home .menu{
    background-color: transparent;
}

.burgerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    margin: 0 24px;
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
}

a.active {
    font-weight: bold;
}

.logo {
    margin: 0 24px;
}

main {
    width:100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 35% 1fr;
}

.photoContainer {
    background-color: rgb(45, 45, 45);
    height: 100vh;
}

.photoContainer.full img{
object-fit: cover;
width:100%;
height:100vh;
}

.home .photoContainer {
    width: 100%;
}

.contentContainer {
    padding: 40px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    max-height:100vh;
    overflow-y:auto;
    box-sizing:border-box;
}

/* .mediaItem hr{
    width:32px;
} */

.mediaItem {
    margin: 8px 0 24px;
}

.mediaItem p {
    margin: 8px 0;
}

.mediaItem h2 {
    font-size: 20px;
}

.mediaItem .videoContainer {
    display: none;
}

.mediaItem:hover .videoContainer {
    display: block;
}


.videoContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

p {
    max-width: 700px;
    line-height: 160%;
}

h1{
    margin:64px 0;
}

.contentContainer a{
    color:white;
    font-weight:bolder;
}

.photoContainer.full {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.photoContainer img{
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
}

.photoContainer.full img{
    display: block;
}

.photoContainer:after{
    position: absolute;
    content:"";
    height:100%;
    width:35%;
    top:0;
    left:0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.photoContainer.full:after{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.photoContainer.full h1{
    font-size:128px;
    margin:64px;
    position:absolute;
    z-index:2;
}


/* mobile */
@media only screen and (max-width: 700px) {

    body,
    main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav {
        position: absolute;
        min-height: 56px;
        z-index: 2;
        flex-direction: column;
    }

    .burgerMenu {
        width: 100%;
        min-height: 56px;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: auto;
    }

    .home .menu{
        background-color: #0E0E0E;
    }

    .menu a {
        margin: 8px;
    }

    .photoContainer {
        height: 400px;
        width: 100%;
    }

    .photoContainer:after{
        content:"";
        height:400px;
        width:100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    }

    .home .photoContainer {
        height: 100vh;
    }

    .contentContainer {
        padding: 24px;
        overflow-y: visible;
        margin-bottom:56px;
        width:100%;
        box-sizing: border-box;
    }

    .photoContainer.full h1{
        font-size:64px;
        margin:32px;
    }

    .contentContainer iframe{
        overflow-y: visible;
    }
    

}